$primary-font: "OpenSans", Helvetica, Arial, sans-serif;
$secondary-font: "OpenSansLight", "Helvetica Neue", Arial, sans-serif;
$light-grey: #e4e4e4;
$aqua-green: #78baa1;
$between-green: #609581;
$dark-green: #548271;
$light-brown: #827f62;
$real-dark-green: #324E44;
$darker-brown: #9B9981;
$dark-red: #8b4441;

#game-page-wrapper {
  height: inherit;
  overflow-y: hidden;
}
.game-wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  #board {
    margin-top: 75px;
    margin-right: 8%;
    @media screen and (max-width: 500px) {
      width: 400px;
    }
    .board-b72b1 {
      border: 2px solid black;
    }
  }
  .board-holder {
    height: inherit;
    width: 40%;
    min-width: 500px;
    .button-holder {
      margin-right: 7%;
      padding-top: 1em;
      padding-left: 1%;
      padding-right: 1%;
      display: flex;
    }
    .button {
      width: 33.3%;
    }
    button {
      background: $dark-green;
      font-size: 1em;
      border: none;
      padding: .6em 1.2em;
      color: white;
      letter-spacing: 1px;
      font-weight: bold;
      border-radius: 4px;
      z-index: 9999;
      width: 9em;

    }
  }
  .player-info {
    background: #e6e6e6;
    padding: 1em;
    .current-player {
      height: 50%;
    }
    .current-player, .other-player {
      min-height: 10em;
      max-width: 300px;
      margin: auto;
      .timer {
        border-radius: 2px;
        height: 35%;
        min-height: 125px;
        background: white;
        min-width: 12em;
        .timer-holder {
          padding: .5em 20%;
          .timer-content {
            background: $dark-red;
            margin-bottom: 1em;
            border-radius: 4px;
            color: white;
            text-align: center;
            font-size: 2.5em;
            padding-top: .2em;
            font-weight: 300;
            padding-bottom: .2em;
          }
        }
        .timer-header {
          display: flex;
          border-bottom: 1px solid #c6c6c6;
          font-size: 1em;
          padding-left: 1em;
          .minimize {
            display: flex;
            clear: both;
            width: 25%;
            min-width: 50px;
          }
          .glyphicon-minus {
            font-size: 1.4em;
            margin-top: -1px;
            float: right;
            /* margin-left: 4em; */
            line-height: 2;
            padding-left: .8em;
            color: #777;
            border-left: 1px solid #c6c6c6;
          }
          .timer-player {
            width: 75%;
            display: flex;
            .glyphicon, p {
              font-size: 1.4em;
              line-height: 2;
            }
            p {
              margin-left: .4em;
              color: #777;
              font-weight: bold;
              font-weight: 300;
            }
            .glyphicon {
              color: $aqua-green;
            }
          }
        }
      }
      .profile {
        height: 50%;
        background: aqua;
        margin-top: 10px;
        margin-bottom: 10px;

      }
    }
    .other-player {
      height: 50%;
    }
  }
  div.player-info {
    background: #e6e6e6;
  }
  .player-info, .game-messages,  {
    height: inherit;
    background: #f7f7f7;
    width: 33.3%;
    margin-top: 130px;
    margin-left: 5px;
    margin-right: 5px;
    @media screen and (max-width: 500px) {
      display: none;
    }

    .messages-holder {
      text-align: center;
      input {
        margin: auto;
        width: 320px;
        font-size: 1em;
        padding-top: 12px;
      }
    }


    .game-status, .game-history, .user-messages {
      background: $real-dark-green;
      font-size: 1.6em;
      color: white;
      margin-left: -1px;
    }
    .game-history, .game-status, .user-messages {
      background: $aqua-green;
      border-radius: 4px;
      height: 2em;
      .glyphicon {
        background: $dark-green;
        padding: 0.47em;
        font-size: 1em;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      span:nth-child(2) {
        font-size: 1em;
        padding-left: 1em;
      }
    }
    .game-status, .game-status .glyphicon {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .game-history, .game-history .glyphicon {
      border-radius: 0;
    }
    .user-messages, .user-messages .glyphicon {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .game-status-content, .game-history-content, .user-messages-content {
      padding: .6em;
      font-size: 1.2em;
      background: white;
      margin: .5em;
    }
    .game-status-content {
      font-weight: 300;
    }
    .game-history-content {
      height: 150px;
      overflow-y: auto;
    }
  }
  .history-line {
    display: flex;
    p:nth-child(1) {
      float: left;
      width: 50%;
    }
    p:nth-child(2) {
      float: right;
      width: 50%;
    }
    p {
      letter-spacing: 1px;
      font-weight: 300;
      line-height: 2;
      span.numbers {
        font-weight: normal;
      }
    }
    p.last-move {
      background: rgba(201, 224, 253, 0.8);
      border-radius: 2px;
      padding-right: .2em;
      padding-left: .2em;
    }
  }
  .player-info {
    margin-top: 150px;
  }
}
.game-messages {
  min-width: 330px;
  .messages-holder {
    .user-messages-content {
      text-align: left;
      height: 4.5em;
      overflow-y: auto;
      background: #e6e6e6;
      border-radius: 3px;
      .message {
        text-align: left;
        p {

        }
        p.message-content {
          background: white;
          padding: .5em;
          border-radius: 4px;
          font-weight: 400;
          width: 60%;
        }
        p.message-from {
          font-weight: 300;
          font-size: .8em;
          padding: .4em;
        }
      }
    }
  }
}
.mobile-player-info, .mobile-game-messages {
  @media screen and (min-width: 500px) {
    display: none;
  }
}
